{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block header %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/img/rickmorty-toilette.webp')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>CONNEXION</h1>
                        <h2 class="subheading">Connecte toi et explore nos différents articles à mourrir de rire! De l'humour, de la créativité... C'EST PARTI!</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <label for="username">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <label for="password">Mot de passe</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
        #}
        <br>
        <a href="{{ path('app_register') }}" class="btn btn-primary btn-sm mb-3">
            <i class="bi bi-plus-circle"></i> Créer un compte
        </a>
        <button class="btn btn-primary btn-sm mb-3" type="submit">
            Connexion
        </button>


    </form>
{% endblock %}
