{% extends 'base.html.twig' %}
{% block header %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/img/commentaire.webp')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>Liste des commentaires des utilisateurs</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}


{% block title %}Liste des Commentaires{% endblock %}

{% block body %}
    <h1>Liste des Commentaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Utilisateur</th>
                <th>Post Commenté</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Statut</th>

            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.user.firstname }} {{ comment.user.lastname }}</td>
                    <td>
                        <a href="{{ path('app_post', { id: comment.post.id }) }}" class="btn btn-info">
                            Voir le post
                        </a>
                    </td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.createAt|date('d/m/Y H:i') }}</td>
                    <td>
                        <form action="{{ path('comment_update_status', { id: comment.id }) }}" method="POST">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="status_pending_{{ comment.id }}" value="pending" {% if comment.status == 'pending' %}checked{% endif %}>
                                <label class="form-check-label" for="status_pending_{{ comment.id }}">En Attente</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="status_validated_{{ comment.id }}" value="validated" {% if comment.status == 'validated' %}checked{% endif %}>
                                <label class="form-check-label" for="status_validated_{{ comment.id }}">Validé</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="status_rejected_{{ comment.id }}" value="rejected" {% if comment.status == 'rejected' %}checked{% endif %}>
                                <label class="form-check-label" for="status_rejected_{{ comment.id }}">Rejeté</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Mettre à jour</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun commentaire trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

